
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 90%;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

.logo {
  width: 70px;
}

.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.single__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.news1 {
  max-width: 1100px;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.news__title {
  padding-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.head__text {
  margin-top: 30px;
  margin-right: 10px;
  font-size: 70px;
  color: rgb(15, 146, 0);
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
}

.news__desc {
  margin-right: 10px;
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news-img {
  width: 500px;
}

.news-img1 {
  width: 1100px;
}

.img_caption {
  margin-right: 0px;
  padding-top: 0px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}

.button {

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;

  background-color:#ffffff;
  color: #000000;
  border:none;
  border-radius:5px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.search__space {

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;

  background-color:#ffffff;
  color: #000000;
  border:none;
  border-radius:5px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}